<div id="login_box">
    <div>Please login</div>
    <input type="text" id="username" />
    <input type="password" id="password" />
    <input type="button" value="Login" id="login_button" />
    <div class="error" id="login_error"></div>
</div>