/*==============================Colors============================

d7c41b - light yellow1
afa016 - yellow1
4c450a - dark yellow1

ffffdd - light yellow2
fdff78 - yellow2
787939 - dark yellow2


*/
/*==============================Base==============================*/
html {
  background: #212121;
}

body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, code, form, fieldset, legend, input, textarea, p, blockquote, th, td {
  margin: 0;
  padding: 0; }

body {
    color: #4c450a;
    background: transparent;
    font: 20px Helvetica, Arial, sans-serif;
    font-smoothing: antialiased;
    margin: 0 auto; }

a {
    color: #4c450a;
    font: bold 20px Helvetica, Arial, sans-serif;
    outline: none;
    padding: 2px 5px;
    text-align: center;
    text-decoration: none;
    text-shadow: 0 -1px 1px #1a1703 }
a:hover {
    color: #d7c41b;
    text-shadow: 0 1px 1px #535f5d;}

li {
    list-style: none; }

#container {
    margin: 0 auto; }
.content {
    margin: 0 auto;
    width: 960px;
}
.error {
    background: #ff1414;
    color: #fff;
    border: 1px solid #800a0a;
    border-radius: 5px;
    font: 20px Helvetica, Arial, sans-serif;
    display: none;
}
/*==============================Controls==========================*/
input[type=text], input[type=password] {
    background: #ffffdd;
    border: 1px solid #d6ca5c;
    border-radius: 5px;
    color: #4c450a;
    font: 20px Helvetica, Arial, sans-serif;
    margin: 1px;
}

input[type=text]:focus, input[type=password]:focus {
    border: 2px solid #d7c41b;
    margin: 0;
    outline: none;
}

input[type=button], input[type=submit] {
    background: #d7c41b;
    border: 1px solid #afa016;
    border-radius: 5px;
    color: #4c450a;
    font: bold 20px Helvetica, Arial, sans-serif;
    padding: 2px 5px;
    text-align: center;
    text-shadow: 0px -1px 1px #1a1703;
}
input[type=button]:hover, input[type=submit]:hover {
    color: #fff;
    text-shadow: 0px 1px 1px #afa016;}


/*==============================Header============================*/
#header {
    background: #212121;
    height: 50px; }

/*------------------------------Menu------------------------------*/
#menu {
    background: #212121;
}
#menu .content{
    height: 31px;
}
#menu ul {
    float: right;
    margin: 0 auto;}
#menu ul li {
    float: left;
    font: 24px Helvetica, Arial, sans-serif;
    text-transform: uppercase;
    letter-spacing: 1px;
    color: #f2f2f2;}
#menu ul li a {
    font: bold 16px Helvetica, Arial, sans-serif; }
#menu ul li:not(:last-child) {
    padding-right: 6px;
}
#menu ul li:not(:last-child):after {
    content: "|";
    padding-left: 12px;}
#menu ul li:last-child {
    padding: 0 6px 0 6px;
    content: ""; }

/*==============================Main==============================*/
#main {
    background: #ebebeb;}
#main .content {
    min-height: 700px;}

/*==============================Footer============================*/

#footer {
    background: #212121;
    height: 40px; }

#footer h1 {
    font: 12px "FF DIN", Helvetica, Arial, sans-serif;
    letter-spacing: 1px;
    text-transform: uppercase;}
#footer .credit{
    float: left;
    margin: 10px 0 0 10px; }
#footer .contact{
    float: right;
    margin: 10px 10px 0 0; }
