html {
  background: #a7bfb9; }

body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, code, form, fieldset, legend, input, textarea, p, blockquote, th, td {
  margin: 0;
  padding: 0; }

body {
    color: #4F2912;
    background: transparent;
    font: 100 14px/1.5 "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, sans-serif;
    margin: 0 auto;
    padding-bottom: 60px; }

body p {
    margin: 15px 0; }
body a {
    outline: none;
    text-decoration: none;
    color: #4F2912; }
body a:hover {
    color: #42849d; }
body img {
    background: #111; }

h1, h2, h3, h4, h5, h6 {
    font-size: 100%;
    font-weight: normal; }
li {
    list-style: none; }
input, textarea {
    color: #000;
    background: #FFF; }

#container {
    margin: 0 auto; }

.line {
    border-bottom: 3px solid #4F2912;
    margin: 20px auto;
}

/* Header */
#header {
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#a7bfb9), color-stop(100%,#ffffff)); /* webkit */
    -webkit-box-shadow: 0 5px 5px #888;
    padding: 20px 10px; }
#header #content {
    margin: 0 auto;
    width: 960px;}
#header h1 {
    width: 100px; }
#header h1 a {
    display: block;
    height: 40px; }

#nav ul {
    position: absolute;
    top: 20px;
    right: 0; }
#nav ul li {
    padding: 0 0 0 22px;
    float: left;
    text-transform: uppercase;
    letter-spacing: 1px;
    font: 12px/1 "FF DIN", Helvetica, Arial, sans-serif;
    color: #55453c; }
#nav ul li a {
    font-weight: bold;
    display: block;
    margin-bottom: 5px;
    font-size: 14px; }
#nav ul li:first-child {
    padding: 0 12px 0 28px; }
#nav ul li:not(:first-child) {
    padding: 0 12px 0 28px;
    background: url(/images/nav_divide.png) left no-repeat;
    }
#nav ul li.active, #nav ul li:hover {
    color: #f392b0; }
#nav ul li.active a, #nav ul li:hover a {
    color: #42849d; }

/* Main */
#main {
    background: #fff;
}

#main #content {
    margin: 0 auto;
    padding: 10px 10px;
    min-height: 500px;
    width: 960px;
}

#main h1 {
    font: 30px/1 "FF DIN", Helvetica, Arial, sans-serif;
    color: #f392b0;}

/* Footer */
#footer {
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(100%,#a7bfb9)); /* webkit */
    -webkit-box-shadow: 0 -5px 5px #888;
    height: 40px;
    padding: 20px 10px; }
#footer #content {
    margin: 0 auto;
    width: 960px;
}

#footer p {
    color: #4F2912;
    font: 12px/1 "FF DIN", Helvetica, Arial, sans-serif;
    letter-spacing: 1px;
    text-transform: uppercase;}
#footer p a {
  color: #333; }
#footer p a:hover {
  color: #f392b0; }
#footer #credit {
    float: left;
    color: #555; }
#footer #contact {
    float: right;
    color: #555; }

/* After */
#header, #footer, #section {
  position: relative; }

#header, #footer, #content, #nav {
  display: block; }

#header:after, #footer:after, #content:after, #nav:after {
  content: ".";
  display: block;
  clear: both;
  height: 0;
  visibility: hidden; }