<div class="collection">
    <h2>Collection1</h2>
    <div id="gallery" class="nivoSlider">
        <img title="Cupcake1" src="/images/catalog/1.png" />
        <img title="Cupcake2" src="/images/catalog/2.png" />
        <img title="Cupcake3" src="/images/catalog/3.png" />
        <img title="Cupcake4" src="/images/catalog/4.png" />
    </div>
</div>