<div id="top">
    We prefer orders to be placed five days in advance; however we may be able to accommodate a shorter notice
    depending on how busy we are.
</div>
<div id="pink">
    Contact us via email with your request and we will get back to you as soon as possible with costs and availability.
</div>
<div id="green">
    Please provide your required date and as much information as possible regarding what you want (décor).
</div>
<div id="contacts">
    <div id="contact_left"><h2>Kirby</h2><h2>083 268<span style="display:none;">_</span> 9703</h2></div>
    <div id="contact_right"><h2>Pat</h2><h2>082 928<span style="display:none;">_</span> 0558</h2></div>
    <div id="contact_bottom"><h2>email: <a href="mailto:info@vanilla-ribbon.co.za">info@vanilla-ribbon.co.za</a></h2></div>
</div>
<div id="blue">
    We prefer for orders to be paid for in advance via IBT/EFT.  Details will be sent with your order confirmation.  However if this is not possible then other payment means can be arranged. 
</div>