<div class="content">
    <h1>Contact Us</h1>
    <div class="form_field">
        <label for="name">Name</label>
        <input type="text" id="name" />
    </div>
    <div class="form_field">
        <label for="email">Email</label>
        <input type="text" id="email" />
    </div>
    <div class="form_field">
        <label for="comments">Comments</label>
        <textarea id="comments"></textarea>
    </div>
    <input type="button" id="send" value="Send" />
</div>