<div class="content">
    <div class="block_row">
        <div class="block" id="block_00" style="background:#dddddd;"><img alt="rolling" src="/images/rolling.png"/></div>
        <div class="block" id="block_01" style="background:#5c5c5c;"><span style="margin-top: 46px;">Kirby<div style="margin-top: 10px;font-size:22px;">083 268<span style="display:none;">_</span> 9703<br>021 975<span style="display:none;">_</span> 0708</div></span></div>
        <div class="block" id="block_02" style="background:#d2bec9;"></div>
        <div class="block" id="block_03" style="background:#5c585a;"><img alt="utensils" src="/images/utensils.png"/></div>
    </div>
    <div class="block_row">
        <div class="block" id="block_04" style="background:#848484;"></div>
        <div class="block" id="block_05" style="background:#eae6e8;"></div>
        <div class="block" id="block_06" style="background:#4f4f4f;"><img alt="bird" src="/images/bird.png"/></div>
        <div class="block" id="block_07" style="background:#e9d5e0;"></div>
    </div>
    <div class="block_row">
        <div class="block" id="block_08" style="background:#5c5c5c;"><span style="margin-top: 60px;">Pat<div style="margin-top: 10px;font-size:22px;">082 928<span style="display:none;">_</span> 0558</div></span></div>
        <div class="block" id="block_09" style="background:#d2bec9;"><img alt="cupcake" src="/images/cupcake.png"/></div>
        <div class="block" id="block_10" style="background:#9b9799;">
            <div style="width:400px; height: 100px;">
                <span style="margin-top: 62px;margin-left: 100px;">Email</span>
                <a style="width: 400px;" href="mailto:info@vanilla-ribbon.co.za">info@vanilla-ribbon.co.za</a>
            </div>
        </div>
    </div>
</div>