<div class="collection">
    <a style="background:url(/images/catalog/1.png)" href="/">Home</a>
    <h1>kids 1</h1>
</div>

<div class="collection">
    <a style="background:url(/images/catalog/2.png)" href="/">Home</a>
    <h1>kids 2</h1>
</div>

<div class="collection">
    <a style="background:url(/images/catalog/3.png)" href="/">Home</a>
    <h1>kids 3</h1>
</div>

<div class="collection">
    <a style="background:url(/images/catalog/4.png)" href="/">Home</a>
    <h1>kids 4</h1>
</div>

<div class="collection">
    <a style="background:url(/images/catalog/5.png)" href="/">Home</a>
    <h1>kids 5</h1>
</div>

<div class="collection">
    <a style="background:url(/images/catalog/6.png)" href="/">Home</a>
    <h1>kids go</h1>
</div>

<div class="collection">
    <a style="background:url(/images/catalog/7.png)" href="/">Home</a>
    <h1>kids 7</h1>
</div>

<div class="collection">
    <a style="background:url(/images/catalog/8.png)" href="/">Home</a>
    <h1>kids 8</h1>
</div>
