<div class="collection">
    <h2>Collection1</h2>
    <div class="description">Some description or additional information</div>
    <div id="gallery0" class="nivoSlider">
        <img title="Cupcake1" src="/images/catalog/1.png" />
        <img title="Cupcake2" src="/images/catalog/2.png" />
        <img title="Cupcake3" src="/images/catalog/3.png" />
        <img title="Cupcake4" src="/images/catalog/4.png" />
    </div>
</div>
<div class="collection">
    <h2>Collection2</h2>
    <div class="description">Some description or additional information</div>
    <div id="gallery1" class="nivoSlider">
        <img title="Cupcake5" src="/images/catalog/5.png" />
        <img title="Cupcake6" src="/images/catalog/6.png" />
        <img title="Cupcake7" src="/images/catalog/7.png" />
        <img title="Cupcake8" src="/images/catalog/8.png" />
    </div>
</div>