<div class="collection">
    <a style="background:url(/images/gallery/weddings.jpg)" href="/gallery/weddings">weddings</a>
    <h1>weddings</h1>
</div>

<div class="collection">
    <a style="background:url(/images/gallery/party.jpg)" href="/gallery/party">party</a>
    <h1>party</h1>
</div>

<div class="collection">
    <a style="background:url(/images/gallery/holidays.jpg)" href="/gallery/holidays">holidays</a>
    <h1>holidays</h1>
</div>

<div class="collection">
    <a style="background:url(/images/gallery/flowers.jpg)" href="/gallery/flowers">flowers</a>
    <h1>flowers</h1>
</div>

<div class="collection">
    <a style="background:url(/images/gallery/corporate.jpg)" href="/gallery/corporate">corporate</a>
    <h1>corporate</h1>
</div>

<div class="collection">
    <a style="background:url(/images/gallery/tasty.jpg)" href="/gallery/tasty">tasty</a>
    <h1>tasty</h1>
</div>

<div class="collection">
    <a style="background:url(/images/gallery/classic.jpg)" href="/gallery/classic">classic</a>
    <h1>classic</h1>
</div>

<div class="collection">
    <a style="background:url(/images/gallery/baby.jpg)" href="/gallery/baby">baby</a>
    <h1>baby</h1>
</div>

<div class="collection">
    <a style="background:url(/images/gallery/kids.jpg)" href="/gallery/kids">kids</a>
    <h1>kids</h1>
</div>