<div class="content">
    <div class="block_row">
        <div class="block" id="block_00" style="background:#dddddd;"><a href="#">specials</a></div>
        <div class="block" id="block_01" style="background:#5c5c5c;"></div>
        <div class="block" id="block_02" style="background:#d2bec9;"><a href="#">menu</a></div>
        <div class="block" id="block_03" style="background:#5c585a;"></div>
    </div>
    <div class="block_row">
        <div class="block" id="block_04" style="background:#848484;"></div>
        <div class="block" id="block_05" style="background:#eae6e8;"></div>
        <div class="block" id="block_06" style="background:#4f4f4f;"></div>
        <div class="block" id="block_07" style="background:#e9d5e0;"></div>
    </div>
    <div class="block_row">
        <div class="block" id="block_08" style="background:#5c5c5c;"></div>
        <div class="block" id="block_09" style="background:#d2bec9;"><a href="#">gallery</a></div>
        <div class="block" id="block_10" style="background:#9b9799;"></div>
        <div class="block" id="block_11" style="background:#d3d3d3;"><a href="#">contact</a></div>
    </div>
    <div id="logo"><img alt="logo" src="/images/logo.png"/></div>
</div>