<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
    <head>
        <title>Vanilla Ribbon</title>
        <link type="text/css" href="/css/main.css" rel="stylesheet" />
        <link type="text/css" href="/css/<%= @name %>.css" rel="stylesheet" />
        <link type="text/css" href="/css/smoothDivScroll.css" rel="stylesheet" />

        <script type="text/javascript" src="/js/jquery/jquery-1.5.2.js"></script>
        <script type="text/javascript" src="/js/jquery/jquery-ui-1.8.11.custom.min.js"></script>
        <script type="text/javascript" src="/js/jquery/jquery.smoothDivScroll-1.1.js"></script>

        <script type="text/javascript" src="/js/main.js"></script>
        <script type="text/javascript" src="/js/<%= @name %>.js"></script>
    </head>
    <body>
        <div id="header"></div>
        <div id="main"><%= yield %></div>
        <div id="footer"></div>
        <div id="background_left"></div>
        <div id="background_right"></div>
    </body>
</html>