<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
    <head>
        <title>Vanilla Ribbon<%= @title%></title>
        <meta name="description" content="Vanilla Ribbon - Cupcakes for Humans" />

        <link type="text/css" href="/css/reset.css" rel="stylesheet" />
        <link type="text/css" href="/css/taf-seafarer-m.css" rel="stylesheet" />
        
        <link type="text/css" href="/css/layout.css" rel="stylesheet" />
        <link type="text/css" href="/css/<%= @name %>.css" rel="stylesheet" />
        <link type="text/css" href="/css/nivo-slider.css" rel="stylesheet" />

        <script type="text/javascript" src="/js/jquery/jquery-1.6.1.min.js"></script>

        <script type="text/javascript" src="/js/jquery/jquery.nivo.slider.pack.js"></script>

        <script type="text/javascript" src="/js/main.js"></script>
        <script type="text/javascript" src="/js/<%= @name %>.js"></script>
        <script type="text/javascript" src="/js/analytics.js"></script>
    </head>
    <body>
        <div id="container">
            <div id="right">
                <div id="menu">
                    <ul>
                        <li><a style="background-image:url(/images/menu/home.png)" href="/">Home</a></li>
                        <li><a style="background-image:url(/images/menu/gallery.png)" href="/gallery">Gallery</a></li>
                        <li><a style="background-image:url(/images/menu/pricing.png)" href="/pricing">Pricing</a></li>
                        <li><a style="background-image:url(/images/menu/contact.png)" href="/contact">Contact</a></li>
                        <li><a style="background-image:url(/images/menu/about.png)" href="/about">About</a></li>
                    </ul>
                </div>
            </div>
            <div id="main">
                <img id="backdrop" src="/images/main_bg.png" alt="" />
                <div class="content">
                    <%= yield %>
                </div>
                <h1 id="logo">
                    <a href="http://www.vanilla-ribbon.co.za">Vanilla Ribbon</a>
                </h1>
            </div>
        </div>
    </body>
</html>