<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
    <head>
        <title>Vanilla Ribbon</title>

        <link type="text/css" href="/css/reset.css" rel="stylesheet" />
        <link type="text/css" href="/css/taf-seafarer-m.css" rel="stylesheet" />
        
        <link type="text/css" href="/css/layout.css" rel="stylesheet" />
        <link type="text/css" href="/css/<%= @name %>.css" rel="stylesheet" />
        <link type="text/css" href="/css/nivo-slider.css" rel="stylesheet" />

        <script type="text/javascript" src="/js/jquery/jquery-1.5.2.js"></script>
        <script type="text/javascript" src="/js/jquery/jquery-ui-1.8.11.custom.min.js"></script>

        <script type="text/javascript" src="/js/jquery/jquery.nivo.slider.js"></script>

        <script type="text/javascript" src="/js/main.js"></script>
        <script type="text/javascript" src="/js/<%= @name %>.js"></script>
    </head>
    <body>
        <div id="container">
            <div id="header">
                <div id="menu">
                    <ul>
                        <li><a href="/">Home</a></li>
                        <li><a href="/gallery">Gallery</a></li>
                        <li><a href="/pricing">Pricing</a></li>
                        <li><a href="/contact">Contact</a></li>
                        <li><a href="/about">About</a></li>
                    </ul>
                </div>
                <h1 id="logo">
                    <a href="http://www.vanilla-ribbon.co.za">Vanilla Ribbon</a>
                </h1>
            </div>
            <div id="main">
                <div class="content"><%= yield %></div>
            </div>
            <div id="footer">
                <div class="left">&copy2011 VANILLA RIBBON. ALL RIGHTS RESERVED</div>
                <div class="right">
                    email: <a href="mailto:info@vanilla-ribbon.co.za">info@vanilla-ribbon.co.za</a><br>
                    phone: 021 975<span style="display:none;">_</span> 0708<br>
                    powered by Lime-Liquid
                </div>
            </div>
        </div>
    </body>
</html>