<div id="top">
    Cupcake prices are based on what you choose.  Our standard cupcake prices ranges from R10 each to R24 each depending on your choice of icing, fillings, colours and decoration.  Because we bake to order, our minimum order for any style of cupcake is one dozen.
</div>

<div id="options">
    <div id="option_flavours">
        <span class="option_caption">Cake Flavours</span>
        <ul>
            <li>Vanilla</li>
            <li>Chocolate</li>
        </ul>
    </div>
    <div id="option_icing">
        <span class="option_caption">Icing</span>
        <ul>
            <li>Butter Cream</li>
            <li>Fondant</li>
            <li>Chocolate Ganache</li>
        </ul>
    </div>
    <div id="option_size">
        <span class="option_caption">Size</span>
        <span>Our standard cupcakes are muffin size</span>
    </div>
    <div id="option_colors">
        <span class="option_caption">Colours</span>
        <span>Many colours to choose from</span>
    </div>
</div>

<div id="fillings">
    <h2 id="fillings_caption">Fillings</h2>
    <div class="filling_column">
        <ul>
            <li>Caramel</li>
            <li>Choc Mint Caramel</li>
            <li>Choc Hazelnut Caramel</li>
            <li>Chocolate Mousse</li>
        </ul>
    </div>
    <div class="filling_column">
        <ul>
            <li>Vanilla Mousse</li>
            <li>Strawberry Mousse</li>
            <li>Strawberry Jam</li>
            <li>Lemon Meringue</li>
        </ul>
    </div>
</div>

<div id="prices">
    <h2>Cupcake Prices</h2>
    <br>
    The price of the cupcake depends on what you choose.<br>
    We customize our cupcakes to give you what you desire.<br>
    <br>
    A standard cupcake (chocolate/vanilla) without a filling starts at R 10 each<br>
    If the decoration involves royal icing creations then the cupcake could cost from R 12 to R24<br>
    <br>
    A standard cupcake (chocolate/vanilla) with a filling starts at R 12 each<br>
    If the decoration involves royal icing creations then the cupcake could cost from R 14 to R25<br>
    <br>
    <h2>Examples</h2>
    <br>
    (Per Dozen)
    <br>
    <div>
        <div class="prices_column" style="margin-left:0;">
            The Classic Collection
        </div>
        <div class="prices_column">
            (Two Colours)<br>
            <br>
            (Three Colours)<br>
            <br>
            (Four+ Colours)<br>
            <br>
        </div>
        <div class="prices_column">
            R120 without filling<br>
            R145 with filling<br>

            R135 without filling<br>
            R160 with filling<br>

            R160 without filling<br>
            R175 with filling<br>
        </div>
    </div>
    <div style="margin-top:140px;">
        <div class="prices_column" style="margin-left:0;">
            Lemon Meringue Cupcakes
        </div>
        <div class="prices_column" style="width:480px;">
            Vanilla sponge, with a lemon condense milky centre and a meringue topping.<br>
            R 180 per dozen
        </div>
    </div>
</div>