.content {
}

.collection{
    /*display: block;*/
    float: left;
    height: 230px;
    margin-top: 19px;
    margin-left: 19px;
    width: 230px;
}

.collection a{
    display: block;
    height: 230px;
    opacity: 0.5;
    text-indent: -9999px;
    width: 100%;
}
.collection a:hover{
    opacity: 1;
}

.collection img{
    height: 230px;
    opacity: 0.5;
    width: 230px;
}
.collection img:hover{
    opacity: 1;
}

.collection h1{
    bottom: 37px;
    color: #fff;
    font-weight: bold;
    position: relative;
    text-align: right;
    text-transform: uppercase;
}
