.content {
    margin: 40px auto;
}

.block_row {
    height: 200px;
    padding: 0 80px;
    width: 800px;
}
.block {
    float: left;
    height: 200px;
    width: 200px;
}
.block a{
    position: absolute;
    font: bold 32px Helvetica, Arial, sans-serif;
    margin: 85px auto;
    text-align: center;
    width: 200px;
}
.block a:hover{
    font: bold 42px Helvetica, Arial, sans-serif;
    margin: 78px auto;
}

#logo{
    margin:0 107px;
    position: absolute;
    top: 170px;
}
#logo img{
    width: 740px;
}

#vector {
    margin-left:720px;
    position: absolute;
    top: 10px;
}
#vector img{
    width: 340px;
}