.content {
    margin: 20px auto;
}

.block_row {
    height: 240px;
    width: 960px;
}
.block {
    float: left;
    height: 240px;
    width: 240px;
}
.block a{
    position: absolute;
    font: bold 32px Helvetica, Arial, sans-serif;
    margin: 100px 55px;
}

#logo{
    margin:0 36px;
    position: absolute;
    top: 170px;
}
#logo img{
    width: 880px;
}

#vector {
    margin-left:800px;
    position: absolute;
    top: 0;
}
#vector img{
    width: 467px;
}