html {
    background: hsla(0,0%,92%,.3);
    height: 100%;
}

body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, code, form, fieldset, legend, input, textarea, p, blockquote, th, td {
    margin: 0;
    padding: 0; }

body {
    color: #453C37;
    background: transparent;
    font-smoothing: antialiased;
    height: 100%;
    margin: 0 auto; }

a {
    color: #85C2BC;
    outline: none;
    text-decoration: none; }
a:hover {
    color: #feb7cb;}

li {
    list-style: none; }

select, input, textarea {
    color: #453C37;
    background: #f5efdf;
    border: 1px solid #e6dcd1;
    border-radius: 5px;
    padding: 4px 10px
}
input[type=button]:hover, input[type=submit]:hover{
    background: #f5d580;
    border: 1px solid #e6b177;
}

#container{
    height: auto;
    height: 100%;
    min-height: 100%;
    position: relative;
}
.content {
    margin: 0 auto;
    position: relative;
    width: 960px;
}
.border_line{
    background: #8a858c;
    box-shadow: 0px 2px 5px #888;
    height: 1px;
    position: absolute;
    width: 100%;
}

/*==============================Header============================*/
#header{
    padding-top: 30px;
    position: relative;
    z-index: 100;
}

#header .border_line{
    top:30px;
}

#menu{
    background-color:#a39da6;
    height: 90px;
}

#logo {
    position: absolute;
    top: -30px;
}
#logo a{
    background: url(/images/logo.png);
    display: block;
    height: 120px;
    width: 312px;
    text-indent: -9999px;
    z-index: 100;
}

#header ul{
    display: block;
    position: absolute;
    right: 0;
    top: 0;
}
#header li{
    display: inline;
    float: left;
    height: 150px;
}
#header li a{
    color: #453C37;
    display: block;
    padding-bottom: 30px;
    padding-top: 34px;
    text-shadow: 0 -1px 0 #0a0908;
    text-align: center;
    width: 100px;
}
#header li a:hover{
    color: #fff;
    text-shadow: 0 1px 0 #aaaaaa;
}

#nav_line{
    background: rgb(255, 172, 200);
    box-shadow: 0px 2px 5px #888;
    height: 5px;
    position: absolute;
    top:120px;
    width: 100%;
}
#nav_marker{
    border-left: 40px solid transparent;
	border-right: 40px solid transparent;
	border-bottom: 15px solid rgb(255, 172, 200);
    height: 0;
    position: absolute;
    top:75px;
    width: 0;
}

/*==============================Main============================*/

#main{
    position:relative;
    height: 400px;
}

#main .content{
    background: #ebebeb;
    border-left: 1px solid #d1d1d1;
    border-right: 1px solid #d1d1d1;
    border-bottom: 1px solid #d1d1d1;
    margin-top: -120px;
    padding: 125px 10px 10px 10px;
    width: 940px;
}

#main #footer{
    background: #a39da6;
    border: 1px solid #8a858c;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    height: 70px;
    margin: 0 auto;
    padding: 20px 10px 10px 10px;
    position: relative;
    width: 940px;
}

#footer a{
    color: #fff;
}
#footer a:hover{
    color: #feb7cb;
}

#footer .left{
    float: left;
}
#footer .right{
    float: right;
    text-align: left;
}