/*

78685f - Dark
b0a794 - Light
ecd8e3 - Pink
ede3ca - Yellow

*/

html {
    background: #fff;
    height: 100%;
}

body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, code, form, fieldset, legend, input, textarea, p, blockquote, th, td {
    margin: 0;
    padding: 0; }

body {
    color: #453C37;
    background: transparent;
    font-smoothing: antialiased;
    height: 100%;
    margin: 0 auto; }

a {
    color: #85C2BC;
    outline: none;
    text-decoration: none; }
a:hover {
    color: #feb7cb;}

li {
    list-style: none; }

select, input, textarea {
    color: #453C37;
    background: #f5efdf;
    border: 1px solid #e6dcd1;
    border-radius: 5px;
    padding: 4px 10px
}
input[type=button]:hover, input[type=submit]:hover{
    background: #f5d580;
    border: 1px solid #e6b177;
}

#container{
    height: auto;
    height: 100%;
    min-height: 100%;
    position: relative;
}

.break{
    background: url(/images/dots.png) repeat-x;
    height: 8px;
    margin: 20px 0 20px -7px;
    width: 780px;
}

/*==============================Header============================*/

#header {
    background: url(/images/bg_stripe.png) left repeat-y;
    height: 110px;
    margin: 0 auto;
    position: relative;
    width: 960px;
}

#menu{
    background-color:#e1e3c7;
    box-shadow: 2px 2px 5px #888;
    height: 40px;
    position: absolute;
    top: 80px;
    width: 960px;
}

#menu ul{
    display: block;
    position: absolute;
    right: 0;
    top: 0;
}
#menu li{
    display: inline;
    float: left;
    height: 150px;
}
#menu li a{
    color: #fff;
    display: block;
    font-size: 16px;
    padding-top: 10px;
    text-align: center;
    width: 70px;
}
#menu li a:hover{
    color: #ffacc8;
}

/*==============================Logo============================*/

#logo {
    position: absolute;
    top: 70px;
}
#logo a{
    background: url(/images/logo.png);
    display: block;
    height: 120px;
    width: 312px;
    text-indent: -9999px;
}

/*==============================Main============================*/

#main{
    background: url(/images/bg_stripe.png) repeat-y left;
    position:relative;
    min-height: 400px;
    margin: 100px auto 10px;
    position: relative;
    width: 960px;
}

#main .content{
    padding-left: 180px;
    width: 780px;
}

/*==============================Footer==========================*/
#footer{
    background-color:#e1e3c7;
    box-shadow: 2px 2px 5px #888;
    height: 85px;
    margin: 0 auto;
    position: relative;
    width: 960px;
}

#footer .left{
    float: left;
    margin-top: 10px;
    margin-left: 10px;
}
#footer .right{
    float: right;
    text-align: left;
    margin-top: 10px;
    margin-right: 10px;
}