/*==============================Colors============================

feb7cb - light pink
ff9a9e - pink
e58a8d - dark pink

a6bfb9 - light blue
535f5d - blue
3c4543 - dark blue

a16085 - light purple
875170 - purple
6e425b - dark purple

faebbc - yellow

*/
/*==============================Base==============================*/
html {
  background: #535f5d;
}

body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, code, form, fieldset, legend, input, textarea, p, blockquote, th, td {
  margin: 0;
  padding: 0; }

body {
    color: #535f5d;
    background: transparent;
    font: 14px "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-smoothing: antialiased;
    margin: 0 auto; }

a {
    color: #535f5d;
    outline: none;
    text-decoration: none;
    text-shadow: 0px 1px 0px #3c4543; }
a:hover {
    color: #feb7cb;
    text-shadow: 0px 1px 1px #e58a8d;}

li {
    list-style: none; }
input, textarea {
    color: #8c5a59;
    background: #FFF; }

.devider {
    background: url(/images/devider.png);
    height: 4px;
    margin: 0 auto;
    width: 960px;}
#container {
    margin: 0 auto; }
.content {
    margin: 0 auto;
    width: 960px;
}

/*==============================Header============================*/
#header {
    background: url(/images/headerbg.png) repeat-x;
    height: 200px; }
/*------------------------------Logo------------------------------*/
#header #logo {
    float: left;
    margin: 10px 0 0 10px;
    width: 203px;}
#header #logo a {
    background: url(/images/logo2.png) left no-repeat;
    display: block;
    height: 197px;
    text-indent: -9000px;}

/*------------------------------Nav-------------------------------*/
#nav {
    float: right; }

/*------------------------------Notice----------------------------*/
#notice {
    margin: 0 5px; }
#notice #content {
    background: #535f5d;
    box-shadow: 3px 3px 4px #3c4543;
    margin: 0 0 0 200px;
    padding: 20px 30px;
}
#notice a {
    color: #fff;
    font: 20px Helvetica, Arial, sans-serif;
    margin: 0 auto;}
#notice a.active, #notice a:hover {
    text-decoration: underline;
    text-shadow: none;}

/*------------------------------Menu------------------------------*/
#menu {
    float:right;
    height: 40px;
    margin: 165px 10px 0 0; }
#menu ul li {
    color: #535f5d;
    float: left;
    font: 26px Helvetica, Arial, sans-serif;
    padding: 0 0 0 6px;
    text-transform: uppercase;
    letter-spacing: 1px; }
#menu ul li a {
    margin-bottom: 5px;
    font: bold 26px Helvetica, Arial, sans-serif; }
#menu ul li:not(:last-child) {
    padding-right: 6px;
}
#menu ul li:not(:last-child):after {
    content: "|";
    padding-left: 12px;
    width: 1px;}
#menu ul li:last-child {
    padding: 0 6px 0 6px;
    content: ""; }

/*------------------------------News------------------------------*/
#news {
    background: #a6bfb9;
    color: #fff;
    font: 26px Helvetica, Arial, sans-serif;
    padding: 0 0 5px 0;}
#scroller
{
    width:960px;
    position: relative;}

#scroller div.scrollableArea *
{
    position: relative;
    float: left;
    margin: 0;
    padding: 0;}
#scroller .text{
    width: 970px;
}

/*==============================ColorBand=========================*/
#band {
    background: #a6bfb9;
    padding: 10px 0;}
#band .content{
    background: url(/images/color_band.png) repeat-x;
    height: 27px;
    width: 100%;}

/*==============================Main==============================*/
#main {
    /*background: #a6bfb9;*/
    background: #a6bfb9 url(/images/vector_mirror.png) right bottom no-repeat;}
#main .content {
    min-height: 400px;}

/*------------------------------Body------------------------------*/
#body {
    /*background: url(/images/vector_mirror.png) right bottom no-repeat;*/
    margin: 20px 10px;
    min-height: 500px; }

/*==============================ColorDots=========================*/
#dots {
    background: #a6bfb9;
    padding: 10px 0;}
#dots .content{
    background: url(/images/color_dots.png) repeat-x;
    height: 13px;
    width: 100%;}

/*==============================Footer============================*/

#footer {
    background: url(/images/footerbg.png) repeat-x;
    height: 100px; }

#footer h1 {
    font: 12px "FF DIN", Helvetica, Arial, sans-serif;
    letter-spacing: 1px;
    text-transform: uppercase;}
#footer .credit{
    float: left;
    margin: 10px 0 0 10px; }
#footer .contact{
    float: right;
    margin: 10px 10px 0 0; }
